@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  font-family: "Ubuntu", sans-serif !important;
  background-color: #f4f8f7;

}

header{
  width:100%;
  height: 70px;
  background-color:#62bebe;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 1000;
}
header .logo{
  text-decoration: none;
}
header .logo img{
  margin-top: 10px;
  width:45px;

}

header .logo span{
color: coral;
font-weight: bolder;
font-size: 24px;
}
header button.rounded-circle{min-width:40px !important; width:40px !important; height: 40px !important; background-color:#0ff7d8 !important; margin: 15px;}
header button.rounded-circle svg{color:rgb(29, 27, 27); font-size: 25px !important; transition: all 0.2s ease-in-out;}
header button.rounded-circle:hover svg{color: #2585d4 !important;}
.searchBox{width:400px; height: 40px; background-color:#faf9f9; border-radius: 6px;padding: 3px 15px;}
.searchBox input{background: transparent;border:0px; outline:none; padding-left: 5px; font-size: 15px; color:#292929}
.searchBox input::-webkit-input-placeholder{color:#292929}
.searchBox svg{font-size: 18px; color:#292929 ;}

.userImg{display: flex; align-items:center; justify-content: center; overflow: hidden; width:40px; height: 40px; border:1px solid #0ff7d8; padding: 2px; border-radius: 100%;}
.userImg .rounded-circle{display: flex; align-items:center; justify-content: center; overflow: hidden; width: 40px; height: 40px; cursor: pointer; position: relative;}
.userImg .rounded-circle .img{object-fit: cover; width: 100%;}
.userInfo{padding-left: 10px;}
.userInfo h5{font-size: 15px; font-weight: 600; margin-bottom:0px; color: #266666;}

#account-menu li{font-size: 14px !important;}
#account-menu li svg{font-size: 20px !important}

.dropdown-info{padding-left: 6px;}
.dropdown-info h4{font-size: 15px; font-weight:600;margin-top: 2px; white-space: break-space; line-height: 21px;}
.dropdown-info p{font-size: 10px; color: #2585d4;}


/* Style for sidebar  */

.main .sidebarWrapper{width: 20%; flex: 0 0 20%; transition: all 0.3s ease-in-out;}
.main .sidebarWrapper .sidebar{width:20%; height: 100vh; position:fixed; top: 70px; left:0px; background:#b1e4dd; overflow-y: scroll; overflow-x: hidden;}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{background: transparent !important; width:3px;}
.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{ background:#2585d4; width:3px;}
.main .sidebarWrapper .sidebar ul{margin-bottom:0px;}
.main .sidebarWrapper .sidebar ul li{list-style: none; margin-top:10px;}
.main .sidebarWrapper .sidebar ul li button{color:#266666; text-align: left; justify-content: left; border-radius:0px !important; padding: 12px 15px !important; 
  align-items: center; text-transform: capitalize !important;font-family: "Ubuntu", sans-serif !important;
  margin-left: 0px; font-size: 15px !important;
}
.main .sidebarWrapper .sidebar ul li button .icon{display: flex; align-items:center; justify-content: center; width:25px; height:25px; margin-right: 10px;}
.main .sidebarWrapper .sidebar ul li button .icon svg{color:#292929; opacity: 0.8; font-size: 22px;}
.main .sidebarWrapper .sidebar ul li button .arrow{margin-left: auto; display: flex; align-items: center; justify-content: center; width: 25px; transition: all 0.3s ease-in-out}
.main .sidebarWrapper .sidebar ul li button:hover{background:#62bebe !important;}
.main .sidebarWrapper .sidebar ul li button.active{background: #62bebe !important;}
.main .sidebarWrapper .sidebar ul li button.active .arrow{transform: rotate(90deg);}

.main .sidebarWrapper .sidebar ul .submenu{padding: 0px 45px; position:relative; height:auto;}
.main .sidebarWrapper .sidebar ul .submenu::before{content:''; width:1px; height: 95%; position: absolute; top:0px; left:25px; background:rgba(0, 0, 0, 0.1);}
.main .sidebarWrapper .sidebar ul .submenu li{width:100%; list-style: none;}
.main .sidebarWrapper .sidebar ul .submenu li a{color:#266666 !important; text-decoration: none; font-family: "Ubuntu", sans-serif !important;
display: block; padding: 6px 0px; font-size: 14px !important; font-weight: 500; transition:all 0.3s}
.main .sidebarWrapper .sidebar ul .submenu li a:hover{color:#2585d4 !important;}

.main .sidebarWrapper .sidebar ul .submenuWrapper{transition:all 0.3s ease-in-out; height: 0px; overflow: hidden; }
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu{opacity:0;}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse{height:auto; overflow: inherit;}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu{opacity:1; height:auto;}

.logoutWrapper{padding: 0px 25px;}
.logoutWrapper .logoutBox{width:100%; height:100px; padding: 25px; background:#bcd2fd; border-radius:10px; margin-bottom:20px; display:flex; align-items: center; justify-content: center;
position:relative; overflow:hidden;}
.logoutWrapper .logoutBox::before{content:''; width:50px; height:50px; background:#266666; border-radius: 100%; position:absolute; top: -20px; right: 30px; opacity:0.5}
.logoutWrapper .logoutBox::after{content:''; width:30px; height:30px; background:#266666; border-radius: 100%; position:absolute; top: -30px; left: 30px; opacity:0.5}
.logoutWrapper .logoutBox button{font-size:14px !important; font-weight: 600 !important; }
.logoutWrapper .logoutBox button svg{margin-right: 15px; font-size:18px;}

.main .content{width:80%; flex: 0 0 80%;}
.dashboardBoxWrapperRow{margin-left: 20%;}
.right-content{padding: 90px 30px;}
.dashboardBoxWrapper{gap: 15px; width:100%; flex-wrap: wrap;}
.dashboardBoxWrapper .dashboardBox{width:48%; height: 170px; border-radius:10px; overflow: hidden; padding:20px; display: flex; flex-direction: column; justify-content: space-around; text-align: left !important; justify-content: flex-start;}
.dashboardBoxWrapperRow .box{width:100%; height: 100%; background:#0ff7d8;}

.dashboardBoxWrapper .dashboardBox .col1 h4{font-size: 20px; font-weight: 600;}
.dashboardBoxWrapper .dashboardBox .col1 span{font-size: 40px; font-weight: bold;}
.dashboardBoxWrapper .dashboardBox .icon { margin-left: 180; display: flex; align-items:center; justify-content: center; width:45px; height: 45px; border-radius:5px; background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));}
.dashboardBoxWrapper .dashboardBox .icon svg{font-size: 45px; opacity: 0.1; color:#f4f8f7}

.dashboardBoxWrapper .dashboardBox button.toggleIcon {font-size: 22px; color:rgba(0,0,0,0.5); cursor: pointer; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important; margin-left: 180px;}

.dashboardBoxWrapperRow .dashboardBoxWrapper .dashboardBox .chart{position:absolute; opacity: 0.1;}
.dashboardBoxWrapperRow .dashboardBoxWrapper .dashboardBox .chart svg{font-size: 150px; color: #000;}